@model IEnumerable<TvShows.Models.Subscription>

@{
    ViewBag.Title = "Корзина";
    ViewBag.Total = 0;
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>

        @if (Model.Count() != 0)
        {
        <table class="table">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ImageUrl" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                        @{ViewBag.Total += item.Price;}
                    </td>
                    <td>
                        @Html.ActionLink("Удалить из корзины", "Basket", new { subscriptionId = item.Id, isDeleting = true })
                    </td>
                </tr>
            }
        </table>
        <p>Итого: @ViewBag.Total</p>
        <a href="@Url.Action("Purchasing")" class="btn btn-success">Купить</a>
        }
        else
        {
            <p>В корзине пусто</p>
        }
        <p>@Html.ActionLink("Вернуться к покупкам", "Index")</p>
    </div>
</div>