@model IEnumerable<TvShows.Models.Subscription>

@{
    ViewBag.Title = "Подписки";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>

        <table class="table">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ImageUrl" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (ViewBag.Subscriptions.Contains(item.Id))
                        {
                            <p>Добавлено в корзину</p>
                        }
                        else
                        {
                            <a href="@Url.Action("Bucket", new { subscriptionId = item.Id })" class="btn btn-success">Подписаться на месяц</a>   
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
