@*@model IEnumerable<TvShows.Models.Show>*@
@model TvShows.Models.PageIndexViewModel
@using TvShows.Helpers

@{
    ViewBag.Title = "Сериалы";
}

<div class="row">
    <div class="col-md-12">
        <h2>Список сериалов</h2>
        @using (Html.BeginForm("Index", "Shows", FormMethod.Get))
        {
            <p>
                <div class="form-group">
                    <input class="form-control" placeholder="Название" type="text" name="searchString">
                    <button type="submit" class="btn btn-info" style="position: relative"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </p>
        }
        @if (Model.Shows.Count() != 0)
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Shows.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shows.First().Seasons)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shows.First().Series)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Shows)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seasons)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Series)
                        </td>
                        <td>
                            @Html.ActionLink("Детали", "Details", new { id = item.ShowId })
                        </td>
                        <td>
                            @if (!ViewBag.AddedShows.Contains(item.ShowId))
                            {
                                <a href="@Url.Action("Create", "ShowEpisodes", new { showID = item.ShowId, showName = item.Name })" class="btn btn-success">
                                Добавить в Мои сериалы</a>
                            }
                            else
                            {
                                <p>Добавлено</p>
                            }
                        </td>
                    </tr>
                }

            </table>

            <p>
                @Html.ActionLink("Не нашли нужный? Добавьте!", "Create")
            </p>
            <div class="btn btn-group">
                @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
            </div>
        }
    </div>
</div>
