@model TvShows.WEB.Models.ShowEpisodeViewModel

@{
    ViewBag.Title = "Удалить";
}

<div class="row">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>

        <h3>Вы уверены, что хотите удалить этот сериал?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Название:
                </dt>

                <dd>
                    @ViewBag.Name
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Season)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Season)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Episode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Episode)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Удалить" class="btn btn-default" /> |
                    @Html.ActionLink("Вернуться к списку", "Index")
                </div>
            }
        </div>
    </div>
</div>

